service cloud.firestore {
  match /databases/{database}/documents {

    match /cities/{city} {
      allow read: if true;
      allow write, delete: if request.auth.uid != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth.uid != null;
    }

    match /countries/{country}{
      allow write: if true;
      allow read: if true;
    }
  }
}
