service cloud.firestore {
  match /databases/{database}/documents {

    match /cities/{city} {
      allow write: if true; //if request.auth != null;
      allow read: if true;
    }
    match /countries/{country}{
      allow write: if true;
      allow read: if true;
    }
    allow write: if true;
    allow create: if true;
    allow read: if true;
  }
}
